{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% include "partial/styleshop.html" %}
    <style>
        .kantumruy-regular {
            font-family: "Kantumruy Pro", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }

    </style>
</head>
<body class="with-welcome-text">
    {% block content %}{% endblock %}
    {% include "partial/jsshop.html" %}
</body>
</html>