{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link"
               href="{% url 'core:dashboard' %}"
               {% if request.resolver_match.url_name == 'dashboard' %}
                    style="background-color: white;"
               {% endif %}
            >
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item nav-category">Apps</li>

        {#    Product    #}
        <li class="nav-item kantumruy-regular">
            <a class="nav-link {% if request.resolver_match.namespace == 'product' %}active{% endif %}"
               data-bs-toggle="collapse"
               href="#ui-product"
               aria-expanded="{% if request.resolver_match.namespace == 'product' %}true{% else %}false{% endif %}"
               aria-controls="ui-product">
                <i class="menu-icon mdi mdi-package-variant-closed"></i>
                <span class="menu-title">Product</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if request.resolver_match.namespace == 'product' %}show{% endif %}"
                 id="ui-product">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'list' %}active{% endif %}"
                           href="#">
                            Product List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}"
                           href="#">
                            Add Product
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        {#    User    #}
        <li class="nav-item kantumruy-regular">
            <a class="nav-link {% if request.resolver_match.namespace == 'user' %}active{% endif %}"
               data-bs-toggle="collapse"
               href="#ui-user"
               aria-expanded="{% if request.resolver_match.namespace == 'user' %}true{% else %}false{% endif %}"
               aria-controls="ui-user">
                <i class="menu-icon mdi mdi-human"></i>
                <span class="menu-title">User</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if request.resolver_match.namespace == 'user' %}show{% endif %}"
                 id="ui-user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'list' %}active{% endif %}"
                           href="#">
                            User List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}"
                           href="#">
                            Add User
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        {#    Stock Movements    #}
        <li class="nav-item kantumruy-regular">
            <a class="nav-link {% if request.resolver_match.namespace == 'stock' %}active{% endif %}"
               data-bs-toggle="collapse"
               href="#ui-stock"
               aria-expanded="{% if request.resolver_match.namespace == 'stock' %}true{% else %}false{% endif %}"
               aria-controls="ui-stock">
                <i class="menu-icon mdi mdi-warehouse"></i>
                <span class="menu-title">Stock Movements</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if request.resolver_match.namespace == 'stock' %}show{% endif %}"
                 id="ui-stock">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'list' %}active{% endif %}"
                           href="#">
                            Add Stock In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}"
                           href="#">
                            Add Stock Out
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'create' %}active{% endif %}"
                           href="#">
                            Stock History
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>